alabaster==0.7.9
anyjson==0.3.3
arrow==0.10.0
Babel==2.3.4
backports-abc==0.5
binaryornot==0.4.0
certifi==2016.9.26
chardet==2.3.0
chaussette==1.3.0
circus==0.14.0
circus-web==1.0.0
click==6.6
colorama==0.3.7
cookiecutter==1.5.0
coverage==4.3.1
decorator==4.0.10
Django==1.10.5
djangorestframework==3.5.3
docutils==0.13.1
first==2.0.1
future==0.16.0
gevent==1.2.0
green==2.5.3
greenlet==0.4.11
imagesize==0.7.1
iowait==0.2
ipython==5.1.0
ipython-genutils==0.1.0
Jinja2==2.8.1
jinja2-time==0.2.0
Mako==1.0.6
MarkupSafe==0.23
meinheld==0.6.1
mypy-lang==0.4.6
pexpect==4.2.1
pickleshare==0.7.4
pip-tools==1.8.0
poyo==0.4.0
prompt-toolkit==1.0.9
psutil==5.0.1
ptyprocess==0.5.1
py==1.4.32
Pygments==2.1.3
pytest==3.0.5
pytest-django==3.1.2
python-dateutil==2.6.0
python-termstyle==0.1.10
pytz==2016.10
pyzmq==16.0.2
requests==2.12.4
selenium==3.0.2
simplegeneric==0.8.1
simplejson==3.10.0
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.3
Sphinx==1.5.1
tomako==0.1.0.post1
TornadIO2==0.0.3
tornado==4.4.2
traitlets==4.3.1
Unidecode==0.4.20
wcwidth==0.1.7
websockets==3.2
whichcraft==0.4.0
